

  a:hover {
    background-color: orange;
    border-radius: 50px;
    position: relative;
     padding: 5px; 
    
  } 

   header {
    background-color: #173170;
    padding: 10px;
} 

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}


.background-frame {
  /* background: url('path_to_your_background_image.jpg') no-repeat center center fixed; */
  background: #392F8B;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1627px;
  border-radius: 8px;
background: #FFF;
flex-shrink: 0;
  /* z-index: -1; To place it behind other content */
}
