
<!-- <nav site-header sticky-top py-1>
  <div class="row"> -->
  
<header>
<nav>
<div class="col d-flex flex-column flex-md-row justify-content-between">
<ul>
 <li> <a class= "nav-link" href="/Home">Home</a></li>
 <!-- <li> <a class= "nav-link" href="/employees-list">Employee List</a></li> -->
 <li> <a class= "nav-link" href="/employee-details">Employee details</a></li>
 <!-- <li>  <a class= "nav-link" href="/create-employee">Add Employee</a></li> -->
 <li>  <a class= "nav-link" href="/my-timesheet">My Timesheet</a></li>
</ul>
</div>
    <!-- </div> -->
  
</nav> 
</header>


<router-outlet></router-outlet>
 