
  img{
    width : 100px;
    height: 40px ;
  } 
   nav a:hover {
    background-color: orange;
    border-radius: 50px;
    position: relative;
    padding: 5px; 
    
  }  

    
  body {
margin-bottom: 10px; 
width: 1520px;
height: 15px;
flex-shrink: 0;
background: #392F8B;

}

.vertical-border-left{
    margin-left: 0px;
   
    height: 1000px;
    width: 15px;
    background-color:  #392F8B;
}

/* .vertical-border-right{
  border-right: 1px;
    margin-right: 0px;
    height: 1100px;
width:15px;
position: absolute;
top: 40px;
bottom: 0;
right: 0;
background-color: #392F8B;
} */

.seperationline{
    margin-top: 10px; 
width: 1400px;
height: 1px;
flex-shrink: 0;
background: rgb(231, 230, 230);
opacity: 0.5px;
margin-left:50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
color: #2F51BC;
/* font-family: ' Calibri'; */
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 130px;
margin-top: 10px;

}

main {
    padding: 20px;
}
.menubar{
    margin-left: 220px;  
}

.buttonbar{
    margin-left: 220px;  
}

 .sub-header {
    width: 200px;
    height: 110px;
    flex-shrink: 0;
    display: flex;
background: #173170;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top:10px ;
margin-left: 100px;
/* margin-bottom: 10px; */
 border-radius: 4px; 
} 
  /* p{
    
    margin-top:20px;
}  */

 .sub-header p{
    color: #FFF;
    text-align: center;
    /* font-family: Roboto; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 43px;
    margin-top: 10px;
    text-decoration: none;
    
} 


.sub-header:hover{
    border: 2px solid #E57414;

}


.sub-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 

  
.sub-header a{
    background-color: white;
     border-radius:2px; 
    padding: 0.5em;
    color:#173170;
    font-weight: normal;
    margin-left: 34px;
   margin-top: 5px;;
    text-align: center;
    font-size: 14px;
} 


