

  a:hover {
    background-color: orange;
    border-radius: 50px;
    position: relative;
     padding: 5px; 
    
  } 

  header {
    background-color: #173170;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}



