
<div class= col-md-8 order-md-1>
    <h4>Create a new employee</h4>
</div>

<div class="row">
    <form  [formGroup]="userForm" (ngSubmit)="createEmployee()">
       <div class = "col-md-8">
        
        <table >
            <tr>
                <td>First Name</td>
                <td><input type="text" id = "firstName" formControlName="firstName"></td>
            
            <tr>
                <td>Last Name</td>
                <td><input type="text" id="lastName" formControlName="lastName"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" id="email" formControlName="email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" id="password" formControlName="password"></td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td><input type="text"  id ="mobileNumber" formControlName="mobileNumber"></td>
            </tr>
            <tr>
                <td>Contract</td>
                <td><input type="text" id= "contract" formControlName="contract"></td>
            </tr>
            <tr>
                <td>Designation</td>
                <td><input type="text" id="designation" formControlName="designation"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" id="address" formControlName="address"></td>
            </tr>
            
   
            <tr>
                <td><button type="submit" >Submit</button></td>
                
            </tr>
        </table>
    </div>

    </form>
</div>

