
table, th, td {    
    border: 0.5 solid black;  
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 20px; 
    border-collapse: collapse;    
    width: 1000px;  
    text-align: center;  
    font-size: 15px;  
    } 
    
 .pagination{
    margin-left: 700px;

 color: #173170;
 }


 .super-box{
   margin:0 auto; 
 width:1200px ;
 padding:2px; 
 background: white;
 /* border:0.5px solid grey; */
 opacity: 0.5px;
  margin-top: 7px; 
 }